.pin-map {
  height: 20px;
  width: 11px; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.light-back {
  background-color: #f7f0d4;
  min-height: 400px;
  padding: 80px 0px;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  line-height: 2.0rem;
}

.dark-back {
  background-color: #192f4f;
  color: #f7f0d4;
  min-height: 400px;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  line-height: 2.0rem;
  padding: 80px 0px;
  background-image: url("/images/araucarias1_bckgr.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 600px; }

.light-back2 {
  background-color: #f2d0c6;
  min-height: 400px;
  padding: 80px 0px;
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  padding-left: 25px;
  padding-right: 25px; }

.dark-back2 {
  background-color: #008B88;
  color: #f7f0d4;
  min-height: 400px;
  padding: 80px 0px;
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  padding-left: 25px;
  padding-right: 25px;
  padding: 80px 0px;
  background-image: url("/images/araucarias1_bckgr.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 600px; }

.dark-back2 a {
  color: #192f4f;
  text-decoration: underline;
  font-weight: 700; }

.smallernav {
  max-width: 900px; }

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em; }

.mfp-close-btn-in .mfp-close {
  color: #fff; }

a,
button {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.navbar-default .navbar-brand.mobile {
  display: none; }

nav.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  box-shadow: 5px 1px 16px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 1px 16px rgba(0, 0, 0, 0.3); }

.navbar-default .navbar-nav.navbar-right.mobile-nav {
  display: none; }

.first-section {
  background: url(/images/background-main-medium.jpg);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  text-align: center; }

.first-section .cont-img .img-responsive {
  margin: 0 auto; }

.first-section .cont-img .img-title {
  max-width: 70%;
  margin: 0 auto; }

.first-section .cont-img {
  margin-top: 50px; }

.first-section .cont-img:last-child {
  margin-bottom: 50px; }

.first-section .img-principal {
  width: 85%; }

.navbar-default {
  background: #f7f0d4;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000; }

.navbar-default .navbar-nav {
  margin-top: 2px; }

.navbar-default .navbar-nav li a {
  font-family: "PAIHUENPRO";
  font-size: 1.3em;
  font-weight: 500;
  color: #192f4f;
  padding: 17px 8px;
  letter-spacing: 0.5px; }

.navbar-default .navbar-nav.navbar-right li a {
  font-size: 1.6em;
  padding: 16px 2px;
  font-family: "Open Sans";
  text-transform: uppercase; }

.navbar-default .navbar-nav.navbar-right li.line {
  padding: 0px 0px; }

.nav > li > a > img {
  margin-right: 7px; }

.navbar-brand {
  background-image: url("/images/favicon.png");
  height: 52px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 33px 30px; }

.navbar-brand:hover {
  background-image: url("/images/favicon.png");
  height: 53px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 33px 30px; }

.navbar-nav > li > a {
  padding-top: 20px; }

.navbar-default li.current a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav li:active a {
  color: #ae5959; }

.redes {
  list-style-type: none;
  padding: 0px;
  margin: 0 auto; }

.redes li {
  float: left; }

.navbar-right li a.icon,
.redes li a.icon {
  height: 20px;
  width: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px auto;
  display: block; }

.second-section {
  padding: 130px 0px 80px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color: #008B88; }

.second-section iframe {
  width: 100%; }

.about-section p,
.our-family p {
  color: #F2EFCF;
  letter-spacing: 0.5px;
  font-size: 1em;
  line-height: 22px; }

h1.main-title {
  font-family: "PAIHUENPRO";
  font-size: 44px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 30px;
  line-height: 40px;
  color: #ae5959;
  text-transform: uppercase; }

h1.main-titleb {
  font-family: "PAIHUENPRO";
  font-size: 44px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 30px;
  line-height: 40px;
  color: #192f4f;
  text-transform: uppercase; }

.sub-title {
  font-family: "PAIHUENPRO";
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  line-height: 30px;
  color: #ae5959;
  text-transform: uppercase; }

.sub-titleb {
  font-family: "PAIHUENPRO";
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  line-height: 30px;
  color: #192f4f;
  text-transform: uppercase; }

.sub-title-smaller {
  font-family: "PAIHUENPRO";
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  line-height: 30px;
  color: #ae5959;
  text-transform: uppercase; }

h1.second {
  font-family: "PAIHUENPRO";
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #fff;
  text-transform: uppercase; }

.kayak-section {
  padding: 80px 0px;
  background-image: url("/images/kayak_bckgr3b.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right bottom; }

.practices-section h3 {
  margin-top: 0px;
  color: #644f6a;
  font-size: 22px;
  font-family: "PAIHUENPRO";
  letter-spacing: 1px; }

.practices-section p,
.routes-section p,
.things-section p {
  color: #6a5554;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 22px;
  text-align: left; }

.practices-section p span {
  color: #ae5959; }

p span {
  color: #ae5959; }

.lineUp-section {
  background-color: #f7f0d4;
  padding: 80px 0px;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px; }

.lineUp-section p span {
  color: #f2d0c6; }

.lineUp-section h2 {
  font-family: "PAIHUENPRO";
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 60px;
  text-align: center; }

.lineUp-section a:focus {
  outline: 0px; }

.lineUp-section .sphere {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto 0px;
  position: relative;
  z-index: 10;
  text-align: center;
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%); }

.lineUp-section .sphere h4 {
  margin-top: 0px;
  color: #F2EFCF;
  font-size: 25px;
  font-family: "PAIHUENPRO";
  letter-spacing: 1px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0%;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  opacity: 1;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  word-spacing: 100vw; }

.lineUp-section .sphere::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0%;
  z-index: 20;
  background: rgba(174, 89, 89, 0.7);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s; }

.lineUp-section .sphere:hover::before {
  background: rgba(174, 89, 89, 0);
  bottom: 100%; }

.lineUp-section .sphere:hover h4 {
  opacity: 0; }

.lineUp-section .sphere img {
  max-height: 180px;
  width: auto; }

.routes-section {
  background-color: #f4efcf;
  padding: 80px 0px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom; }

.ticket-section {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  text-align: center; }

.ticket-section .cont-ticket .top {
  background-color: #3F273C;
  padding: 40px 40px 40px 140px;
  position: relative;
  text-align: left; }

.ticket-section .cont-ticket .bottom {
  background-color: #ae5959;
  padding: 20px 50px 20px 20px;
  text-align: left; }

.ticket-section .cont-ticket .top figure {
  position: absolute;
  top: 35%;
  right: 80%; }

.ticket-section .cont-ticket .top ul {
  list-style-type: none;
  padding-left: 0px; }

.ticket-section .cont-ticket .top ul li {
  color: #F2EFCF;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 22px;
  text-align: left; }

.ticket-section .cont-ticket .top ul li span {
  color: #ae5959; }

.ticket-section .cont-ticket .top figure img {
  width: 300px; }

.ticket-section .cont-ticket .bottom .media .media-body .media-heading {
  margin-top: 0px;
  color: #3F273C;
  padding-top: 7px;
  font-size: 19px;
  font-family: "PAIHUENPRO";
  letter-spacing: 0.5px; }

.ticket-section .cont-ticket .bottom .media .media-body p {
  color: #F2EFCF;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 22px;
  text-align: left; }

.ticket-section .cont-ticket .bottom .second {
  padding-left: 140px;
  color: #f2efcf; }

.ticket-section .cont-ticket .bottom .media {
  margin-bottom: 30px; }

p.min {
  font-size: 12px;
  line-height: 16px; }

.ticket-section .cont-ticket .bottom .media .media-body p.min {
  font-size: 12px;
  margin-bottom: 0px; }

.ticket-section .cont-ticket .bottom .media .media-left img {
  width: 150px; }

.ticket-section .cont-ticket .bottom .media .media-left {
  vertical-align: middle; }

.main-button {
  background-color: #3F273C;
  color: #f2efcf;
  font-family: "PAIHUENPRO";
  letter-spacing: 1px;
  font-size: 18px;
  padding: 10px 15px;
  height: 42px;
  line-height: 24px;
  border: 1px solid #3F273C;
  margin: 40px auto 0px; }

.main-button:focus,
.main-button:hover {
  outline: 0px;
  text-decoration: none;
  background-color: #3F273C;
  color: #f2efcf; }

.responsive_img {
  display: none; }

.things-section {
  padding: 80px 0px;
  background: url(landing_febrero/BG_THINGS.jpg);
  background-size: 100%;
  background-color: #f4efcf;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative; }

.things-section h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  color: #AE5959;
  font-size: 18px;
  font-family: "PAIHUENPRO";
  letter-spacing: 1px; }

.our-family {
  background-color: #3F273C;
  padding: 80px 0px;
  min-height: 600px;
  background-image: url(landing_febrero/BG_FAMILY.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.our-family h6 {
  color: #F2EFCF;
  letter-spacing: 0.5px;
  font-size: 11px;
  line-height: 17px;
  text-align: left;
  margin-top: 20px; }

.our-family h6 span {
  color: #ae5959; }

.top-footer {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding: 30px 0px; }

.top-footer h4 {
  font-size: 18px;
  font-family: "PAIHUENPRO";
  letter-spacing: 1px;
  margin: 0px 0px 15px 0px;
  text-align: left;
  color: #3F273C; }

.top-footer h6 a {
  color: #3F273C;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 17px;
  text-decoration: none;
  text-align: left; }

.top-footer h6 {
  text-align: left; }

.top-footer .second-button {
  background-color: #ae5959;
  color: #fff;
  font-size: 16px;
  font-family: "PAIHUENPRO";
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 36px;
  height: 38px;
  border-radius: 0px;
  border: 1px solid #ae5959;
  width: 39%;
  float: right;
  overflow-y: hidden; }

.top-footer form input {
  border: 1px solid #ae5959;
  font-size: 16px;
  height: 38px;
  width: 60%;
  float: left;
  padding: 5px 15px; }

.second-button:focus,
.second-button:hover {
  background-color: #3F273C;
  outline: 0px;
  border: 1px solid #3F273C; }

footer {
  background-color: #ae5959;
  padding: 20px 0px; }

footer h6 {
  color: #F2EFCF;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  margin: 0px; }

footer h6 a {
  text-decoration: underline;
  color: #F2EFCF; }

footer h6 a:hover {
  color: #3F273C; }

#popup .cont {
  background-color: #f2efcf;
  width: 40%;
  margin: 50px auto;
  padding: 220px 40px 40px 40px;
  position: relative; }

.mfp-close-btn-in .mfp-close {
  color: #F2EFCF; }

#popup .cont .top {
  background-color: #3F273C;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 200px;
  padding: 32px 0px; }

#popup .cont .top img {
  max-width: 200px; }

#popup .cont .bottom .second-button {
  float: none;
  margin-top: 20px; }

#popup .cont .bottom h6 {
  color: #ae5959; }

.line-up {
  width: 40%;
  margin: 50px auto;
  position: relative; }

.line-up .cont {
  background-color: #f2efcf;
  width: 100%; }

.mfp-close-btn-in .mfp-close {
  color: #F2EFCF; }

.line-up .cont .top {
  background-color: #3F273C;
  text-align: center; }

.line-up .cont .bottom {
  padding: 30px; }

.line-up .cont .bottom h3 {
  margin-top: 0px;
  color: #644f6a;
  font-size: 22px;
  font-family: "PAIHUENPRO";
  letter-spacing: 1px; }

.line-up .cont .top img {
  width: 100%; }

.line-up .cont .bottom h6 {
  color: #ae5959; }

.line-up .cont .bottom p {
  color: #6a5554; }

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 0 0;
  margin: 0 auto; }

.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
            transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
            transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8); }

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1); }

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0; }

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

.inline--media-content .mfp-container {
  padding-top: 40px;
  padding-bottom: 40px; }

.inline--media-content .mfp-content {
  width: 100%;
  max-width: 1200px; }

.popup-video-holder {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; }

.popup-video-holder .plyr {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.popup-video-holder .plyr--youtube .plyr__play-large {
  opacity: 0; }

@media (max-width: 1200px) {
  .navbar-default .navbar-nav.especial-nav {
    width: 100%; }
  .kayak-section {
    background-image: none; } }

@media (max-width: 1024px) {
  .navbar-default .navbar-nav li a {
    font-size: 1.3em;
    padding: 15px 8px; }
  .navbar-right li a.icon,
  .redes li a.icon {
    height: 48px;
    width: 32px; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: 0px; } }

@media (max-width: 991px) {
  .line-up {
    width: 80%; }
  .navbar-default .navbar-nav li a {
    font-size: 1.1em;
    padding: 15px 5px; } }

@media (max-width: 860px) {
  .navbar-default .navbar-nav.navbar-right {
    display: none; }
  .navbar-default .navbar-nav li a {
    font-size: 1.0em;
    padding: 15px 10px; } }

@media (max-width: 767px) {
  .light-back, .dark-back, .light-back2, .dark-back2 {
    background-image: none; }
  .line-up {
    width: 90%; }
  .navbar-header {
    border: none; }
  .navbar-default .navbar-nav li a {
    font-size: 1.6em;
    padding: 15px 10px; }
  .navbar-default .navbar-brand.mobile {
    display: block; }
  .navbar-default .especial-nav .navbar-brand {
    display: none; }
  .navbar-brand {
    display: none; }
  .navbar-default .navbar-nav {
    text-align: center; }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent; }
  .navbar-default .navbar-nav.navbar-right.mobile-nav {
    display: block;
    margin: 0 auto;
    float: none;
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar-default .navbar-nav.navbar-right.mobile-nav li {
    display: inline-block; }
  .navbar-default .navbar-nav.navbar-right.mobile-nav {
    margin: 0 auto; }
  .things-section,
  .our-family,
  .practices-section,
  .about-section {
    background-image: none; }
  .routes-section {
    background-image: none; }
  .navbar-default .navbar-toggle {
    border-color: #a99e95; } }

@media (max-width: 600px) {
  h1.main-title {
    font-size: 32px; }
  #popup .cont {
    width: 80%; }
  .media-body,
  .media-left,
  .media-right {
    display: block; }
  .first-section .container.responsive_img {
    margin-top: 0px; }
  .first-section {
    background: url(/images/mobilebackground2.jpg);
    height: 700px;
    max-height: 600px;
    min-height: 350px; }
  .responsive_img {
    width: 100%;
    margin: 30px auto 0px;
    display: block; } }

@media (max-width: 450px) {
  .first-section .container.responsive_img {
    margin-top: 0px; }
  .first-section {
    background: url(/images/mobilebackground2.jpg);
    height: 500px;
    max-height: 450px;
    min-height: 350px; }
  .hidemobile {
    display: none; }
  .second-section {
    background-size: initial; }
  .top-footer {
    background-size: initial; }
  .ticket-section .cont-ticket .top figure img {
    width: 210px; }
  .ticket-section .cont-ticket .bottom .second {
    padding-left: 40px; }
  #popup .cont {
    width: 100%; }
  .lineUp-section .sphere {
    width: 120px;
    height: 120px; }
  .responsive_img {
    width: 100%;
    margin: 30px auto 0px;
    display: block; } }

@media (max-width: 375px) {
  .line-up {
    width: 95%; }
  .main-button {
    font-size: 16px; } }

@font-face {
  font-family: 'PAIHUENPRO';
  src: url("/fonts/paihuen-pro.eot");
  src: url("/fonts/paihuen-pro.eot?#iefix") format("embedded-opentype"), url("/fonts/paihuen-pro.woff2") format("woff2"), url("/fonts/paihuen-pro.woff") format("woff"), url("/fonts/paihuen-pro.ttf") format("truetype"), url("/fonts/paihuen-pro.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }