<div id="lineup-0" className="mfp-hide line-up">
  <div className="cont">
    <div className="top">
      <figure>
        <img className="img-fluid" src="" alt="Ana Tijoux" />
      </figure>
    </div>
    <div className="bottom">
      <h3>Ana Tijoux</h3>
      <ul>
        <li><strong>Origen:</strong> Año 1997</li>
        <li><strong>Género:</strong> Hip Hop, Indie, Otro</li>
        <li><strong>Origen:</strong> Santiago, Chile</li>
      </ul>
      <div className="text-center">
        <ul className="redes">
          <li>
            <a
              href="https://soundcloud.com/ana-tijoux-official"
              target="_blank"
              className="sc_icon icon"
            >
              <i className="fa fa-soundcloud" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a
              href="https://www.facebook.com/anatijoux/"
              target="_blank"
              className="sc_icon icon"
            >
              <i className="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com/anatijoux/"
              target="_blank"
              className="sc_icon icon"
            >
              <i className="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
